/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.img {
  height:20px;
  width:100px;
}
.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.css-1qieykl-MuiPaper-root {
   width: 600px;
    
}

.search-bar{
  border:none;
  outline:none;
  width: calc(100% - 60px); 
  /* 위에 css-1qieykl-MuiPaper-root(paper값)에 realative주고 그 paper값의 100퍼센트 크기에서 항상 60px만큼 줄어들도록 */
  margin-right: 5px;
  
}

.search-bar::placeholder{
  color:white;
  
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;
  word-break: keep-all;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.category-span{
    color: white;
    margin-top: 10px;
    margin-left: 15px;
    font-size: medium;
    word-break: keep-all;
}

.category-hr{
  width: 210px; 
  border: 1px solid #606060;
  
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
    
  }
  .category-span{display:none;}
  .category-hr{
    height: 40px; 
    margin-top: 20px;
    border: 1px solid #606060;
  
  }
}

@media screen and (max-width:900px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
}


@media screen and (max-width: 600px) {
/* .css-1630peb-MuiPaper-root {
  margin-left: 100px;
  width: 400px;
} */
.paper {
  width:100px;
  margin-left:50px;
}
.img {
  width:70px;
}
/* .icon{
  margin-right:200px;

} */
/* .css-itnvja-MuiButtonBase-root-MuiIconButton-root{
  margin-right:500px;
} */
}

@media screen and (max-width: 900px) {
  /* .css-1630peb-MuiPaper-root {
    margin-left: 100px;
    width: 400px;
  } */
  .paper {
    width:600px;
    margin-left:50px;
  }
  .img {
    width:70px;
    height:20px;
  }
  /* .icon{
    margin-right:200px;
  
  } */
  /* .css-itnvja-MuiButtonBase-root-MuiIconButton-root{
    margin-right:400px;
  } */
  }

  @media (min-width: 900px){

  .css-juvfsk {
    margin-right: 40px;
    width: 600px;
}
  }